<!DOCTYPE html>
<html lang="es-ES" ng-app="mis-pelis">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico?v1.0">
    <title>Mis pelis</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <script src="dist/bundle.js" defer></script>
</head>
<body ng-controller="listadosController">
    <div class="top-bar"></div>
    <header class="header container">        
        <div class="row">
            <div class="col-xs-2 visible-xs">
                <div class="bars collapsed" data-toggle="collapse" href="#menu-principal">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="nombre-app col-xs-10 col-sm-3 text-right">
                <h1>Mis pelis</h1>
            </div>
            <ul class="menu-principal col-xs-12 col-sm-9 list-unstyled collapse" id="menu-principal">
                <li><a href="/">Listado de películas</a></li>
                <li><a href="/nueva-pelicula.html">Añadir película</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>    
        </div>
    </header>
    <section class="titulo container">
        <div class="row">
            <h2 class="col-xs-9">Listado</h2>
            <div class="anyade-pelicula col-xs-3">                
                <i class="icono-circular icono-anyadir fa fa-plus pull-right" data-toggle="collapse" href="#formulario"></i>                
            </div>                            
        </div>
    </section>
    <form class="row panel-body collapse" ng-class="{'in': formularioAbierto}" name="form" ng-submit="creaPelicula(formulario)" novalidate id="formulario">
        <div class="form-group col-sm-6">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" ng-model="nuevaPelicula.titulo" name="titulo" id="titulo" placeholder="Introduce el título de la película" required>
            <small ng-if="form.titulo.$invalid && form.titulo.$dirty">Por favor, rellena este campo</small>
        </div>
        <div class="form-group col-sm-6">
            <label for="director">Director:</label>
            <input type="text" class="form-control" ng-model="nuevaPelicula.director" name="director" id="director" placeholder="Introduce el nombre del director" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="anyo">Año:</label>
            <input type="number" class="form-control" ng-model="nuevaPelicula.anyo" name="anyo" id="anyo" placeholder="Introduce el año de rodaje" required>
        </div>        
        <div class="form-group col-sm-6">
            <label for="cartel">Cartel:</label>
            <input type="url" class="form-control" ng-model="nuevaPelicula.cartel" name="cartel" id="cartel" placeholder="Introduce la URL del cartel" required>
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Añadir película</button>
        </div>
    </form>
    <main class="container listados">
        <div class="row hide">
            <header class="header-listados col-xs-12">
                <div class="row">
                    <p class="col-xs-9">Aún no tienes ninguna película en tu listado. Prueba a añadir alguna película pendiente de ver.</p>
                    <div class="anyade-pelicula col-xs-3">
                        <i class="icono-circular icono-anyadir fa fa-plus pull-right"></i>
                    </div>                            
                </div>
            </header>
        </div>
        <div class="row">
            <header class="header-listados col-xs-12">
                <div class="row">
                    <div class="col-xs-9">
                        <h3>{{tituloPendientes}}</h3>
                        <p ng-if="(peliculas | filter:{vista: false}).length">Tienes {{(peliculas | filter:{vista: false}).length}} películas pendientes de ver</p>
                        <p ng-if="!(peliculas | filter:{vista: false}).length">¡Enhorabuena! No tienes ninguna película pendiente de ver</p>
                    </div>
                    <div class="despliega-listado col-xs-3 hidden-lg">
                        <i class="icono-circular icono-desplegar fa fa-caret-up pull-right" data-toggle="collapse" href="#lista-pendientes"></i>
                    </div>
                </div>
            </header>
            <div class="col-xs-12">
                <ul class="lista-pelis lista-pendientes collapse in row list-unstyled" id="lista-pendientes">
                    <li ng-repeat="pelicula in peliculas | filter:{vista: false} | orderBy:'titulo'" class="col-xs-12 col-md-6 col-lg-3">
                        <div class="row">
                            <div class="cartel col-xs-4">
                                <img class="img-responsive" ng-src="{{pelicula.cartel}}"
                                    alt="{{pelicula.titulo}}">
                            </div>
                            <div class="datos col-xs-8">
                                <h4>{{pelicula.titulo}}</h4>
                                <span class="director">{{pelicula.director}}
                                    <span class="anyo">({{pelicula.anyo}})</span>
                                </span>
                                <ul class="puntuacion list-inline">
                                    <li ng-repeat="i in [1, 2, 3, 4, 5]" class="estrella">
                                        <i ng-click="verPelicula(pelicula.id, i)" class="glyphicon glyphicon-star-empty" title="{{i}}/5"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="opciones">
                                <i class="glyphicon glyphicon-option-vertical collapsed" data-toggle="collapse" href="#submenu-pelicula-1"></i>
                                <ul class="submenu-pelicula collapse list-unstyled" id="submenu-pelicula-1">
                                    <li>
                                        <a href="#">Eliminar película</a>
                                    </li>
                                </ul>
                            </div>                                
                        </div>
                    </li>                    
                </ul>
            </div> 
            <header class="header-listados col-xs-12">
                <div class="row">
                    <div class="col-xs-9">
                        <h3>{{tituloVistas}}</h3>
                        <p>Has visto {{(peliculas | filter:{vista: true}).length}} películas</p>
                        <p class="hide">Aún no has visto ninguna película de tu lista</p>
                    </div>
                    <div class="despliega-listado col-xs-3 hidden-lg">
                        <i class="icono-circular icono-desplegar fa fa-caret-up pull-right collapsed" data-toggle="collapse" href="#lista-vistas"></i>
                    </div>
                </div>
            </header>
            <div class="col-xs-12">
                <ul class="lista-pelis lista-vistas collapse row list-unstyled" id="lista-vistas">
                    <li ng-repeat="pelicula in peliculas | filter:{vista: true}" class="col-xs-12 col-md-6 col-lg-3">
                        <div class="row">
                            <div class="cartel col-xs-4">
                                <img class="img-responsive" ng-src="{{pelicula.cartel}}"
                                    alt="{{pelicula.titulo}}">
                            </div>
                            <div class="datos col-xs-8">
                                <h4>{{pelicula.titulo}}</h4>
                                <span class="director">{{pelicula.director}}
                                    <span class="anyo">({{pelicula.anyo}})</span>
                                </span>
                                <ul class="puntuacion list-inline" data-puntos="{{pelicula.valoracion}}">
                                    <li class="estrella" ng-repeat="i in [1, 2, 3, 4, 5]">
                                        <a href="#">
                                            <i class="glyphicon" ng-class="pelicula.valoracion >= i ? 'glyphicon-star' : 'glyphicon-star-empty'" title="{{pelicula.valoracion}}"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="opciones">
                                <i class="glyphicon glyphicon-option-vertical collapsed" data-toggle="collapse" href="#submenu-pelicula-5"></i>
                                <ul class="submenu-pelicula collapse list-unstyled" id="submenu-pelicula-5">
                                    <li>
                                        <a href="#">Eliminar película</a>
                                    </li>
                                    <li>
                                        <a href="#">Marcar como pendiente de ver</a>
                                    </li>
                                </ul>
                            </div>                                
                        </div>
                    </li>                    
                </ul>
            </div>
        </div>
    </main>
</body>
</html>