.top-bar {
    background-color: darken($color-principal, 15%);
    height: 15px;
}

.header {
    background-color: $color-principal;        
    color: #000;
    min-height: $altura-cabecera-movil;
    i {
        font-size: 1.8em;
        line-height: $altura-cabecera-movil;
    }
    h1 {
        font-size: 2.25rem;        
        line-height: $altura-cabecera-movil;
        @media (min-width: $screen-sm-min) {
            line-height: $altura-cabecera;
        }
    }
    .bars {
        margin-top: 20px;
    }
    .nombre-app {
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }    
    }    
}

.titulo {
    background-color: $color-secundario;
    color: #fff;    
    z-index: 1000;
    position: relative;    
    @include sombra();
    h2 {
        font-size: 1.6rem;
        line-height: 2.5;
    }
    .icono-circular {
        background-color: $color-principal;
        position: relative;
        top: 10px;
        color: #000;
        box-shadow: 2px 2px 2px rgba(#000, 0.2);
    }
}
