.footer {
    background-color: $color-secundario;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}