.bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 19px;
    width: 25px;
    .bar {
        height: 3px;
        background-color: #000;
        border-radius: 30px;
        transition: all 0.2s;
        &:first-child {
            transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }        
        &:last-child {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    &.collapsed {
        .bar {
            &:first-child, &:last-child {
                transform: translateY(0) rotate(0);
            }
            &:nth-child(2) {
                opacity: 1;
            }
        }
    }
}
.icono-circular {
    background-color: $color-secundario;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icono-anyadir {
    font-size: 1.2em;
    &:before {
        margin-top: 1px;
    }
}
.icono-desplegar {
    font-size: 2em;
    transition: transform 0.1s linear;
    &:before {
        margin-top: -5px;
    }
    &.collapsed {
        transform: rotate(180deg);
    }
}
i {
    cursor: pointer;
}