main {
    h3 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .header-listados {
        background-color: #eee;
        padding-top: 20px;
        padding-bottom: 20px;            
        border-bottom: 1px solid $color-bordes;
        @include sombra();
        position: relative;
        p {
            margin: 0;
            font-size: 1.25rem;
        }
    }
}

.lista-pelis {
    margin-bottom: 0;
    > li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-bordes;
        position: relative;
        .opciones {
            position: absolute;
            right: $grid-gutter-width / 2;
            top: 10px;            
            i {
                opacity: 1;
                font-size: 1.8rem;
                &.collapsed {
                    opacity: 0.5;
                }    
            }
            .submenu-pelicula {
                background-color: #fff;
                position: absolute;
                right: 25px;
                top: 0;
                width: 220px;                
                margin: 0;
                font-size: 1.3rem;
                @include sombra();
                li {
                    padding: 10px;
                    &:hover {
                        background-color: #eee;
                    }
                    a {
                        color: inherit;
                        &:hover, &:active {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        @media (min-width: $screen-md-min) {            
            border: 0;
            > .row {
                height: 220px;
            }    
        }
        @media (min-width: $screen-lg-min) {
            .datos {
                border-right: 1px solid $color-bordes;
                height: 100%;       
            }
        }
        &:nth-child(odd) {
            @media (min-width: $screen-md-min) {
                .datos {
                    border-right: 1px solid $color-bordes;
                    height: 100%;       
                }
            }
        }
        &:last-child {
            @media (min-width: $screen-lg-min) {
                .datos {
                    border-right: 0;
                }
            }
        }
        
    }
    h4 {
        font-size: 1.7rem;
        margin-bottom: 5px;
        padding-right: $grid-gutter-width / 2;
    }
    .puntuacion {
        margin-top: 10px;
        &[data-puntos="4"], &[data-puntos="5"] {
            .estrella i {
                color: #090;
            }
        }
        &[data-puntos="2"], &[data-puntos="3"] {
            .estrella i {
                color: #cc0;
            }
        }
        &[data-puntos="0"], &[data-puntos="1"] {
            .estrella i {
                color: #f00;
            }
        }
        .estrella {
            font-size: 2.9rem;
            padding: 0 2px;
            @media (min-width: $screen-lg-min) {
                font-size: 2rem;
            }
        }
    }
    @media (min-width: $screen-lg-min) {
        display: block;
    }
}
