.menu-principal {
    position: relative;
    margin: 0;    
    li {
        margin: 0 $grid-gutter-width / -2;
        padding: 0 $grid-gutter-width / 2;
        border-top: 1px solid $color-bordes;
        line-height: 50px;
        font-size: 1.4rem;
        &:last-child {
            border-bottom: 1px solid $color-bordes;
        }
        &:hover {
            background-color: darken($color-principal, 15%);
        }
        a {
            color: #fff;
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
            @media (min-width: $screen-sm-min) {
                color: #000;
            }        
        }        
        @media (min-width: $screen-sm-min) {
            display: inline-block;
            border: 0;
            margin: 0 10px;
            padding: 0;
            font-size: 1.5rem;
            line-height: $altura-cabecera;
            &:last-child {
                border: 0;
            }
        }    
    }
    @media (max-width: $screen-xs-max) {
        background-color: darken($color-principal, 30%);
    }
    @media (min-width: $screen-sm-min) {
        display: block;
        text-align: right;
    }
}