$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../node_modules/font-awesome/fonts/";
$altura-cabecera-movil: 60px;
$altura-cabecera: 100px;
$color-principal: #f9a825;
$color-secundario: #00695c;
$brand-primary: $color-secundario;
$color-bordes: #ccc;